{{> head }} {{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>NodeJs</h1>
        <p>Javascript from server</p>
    </div>

    <div class="col-4">
        <img src="assets/img/nodejs-logo.png" class="img-thumbnail">
    </div>

</div>


{{> footer }}